* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    width: 100%;
}

a:hover{
    text-decoration: underline;
}

.flex-column {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

#svg {
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
}

#svg:hover,
#svg:focus{
    background-color: rgba(211, 211, 211, 0.301);
}

#apps-drawer {
    width: 25px;
    color: gray;
    fill: currentColor;
}

#userlogo img{
    width: 33px;
}

#small-logo img {
    width: 70px;
}

header, nav {
    width: 100%;
}

.navigation {
    justify-content: space-between;
    padding: 15px 18px;
}

.div-in-nav {
    width: 100px;
    justify-content: space-evenly;
}

/* Form section */

form {
    border-top: 1px solid lightgray;
    padding: 25px 50px;
}

form section {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    border-bottom: 1px solid lightgray;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    max-width: 90%;
    padding: 25px 0;
    align-items: center;
}

form input,form select {
    height: 27px;
    padding: 0 7px;
}

label {
    grid-column: 1/2;
}

input[type="submit"]{
    grid-column: 2/3;
    width: 130px;
    background-color:#4B8EFC;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color:  white;
    border: 1px solid transparent;
    padding: 15px;
    border-radius: 2px;
    box-sizing: border-box;
    justify-self: end;
    margin: 12px 0;
    line-height: 0;
}

input[type="submit"]:hover{
    border: 1px solid blue;
}

.third-col-item {
    grid-column: 3/4;
    font-size: 13px;
    font-weight: bold;
}

main h1 {
    color: #D93025;
    font-size: 1.3rem;
    align-self: flex-start;
    padding: 25px 50px;
}

main h3 {
    font-size: 16px;
    color: #333;
}

main label {
    font-size: 13px;
    color: #222;
}

main span {
    font-size: 11px;
    color: #555;
}

main .third-col-item{
    font-size: 13px;
}

main .mono {
    font-family: monospace;
    font-size: 11px;
}

a {
    color: blue;
}

#links {
    align-self: flex-start;
    align-items: flex-start;
}

#links div {
    display: flex;
    flex-flow: column;
    padding: 25px 50px;
}

#links h3 {
    padding-left: 50px;
}

#links a{
    line-height: 1.5;
}

/* footer */
footer {
    background-color: #F2F2F2;
    width: 100%;
}

footer p, footer a{
    font-size: 14px;
    color: #70757A;
}

footer div{
    width: 100%;
}

#firstpart {
    border-bottom: 1px solid #DADCE0;
    padding: 15px 45px;

}

#secondpart{
    justify-content: space-between;
    border: none;
    outline: none;
    padding: 15px 30px;
}

#secondpart a {
    margin: 15px;
}

@media (max-width: 667px){
    #secondpart {
        flex-flow: column wrap;
        place-content: center;
    }

    #secondpart ul {
        padding: 10px 0;
    }
}
/* 
@media (max-width: 1070px) {
    .hide {
        display: none;
    }

    form{
        padding: 15px 30px;
    }

    form section {
        grid-template-columns: 1fr 2fr;
        max-width: 100%;
    }

} */