* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    width: 100%;
}

a {
    color: #00E;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.flex-column {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

/* Changes for Header part */
#svg {
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
}

#svg:hover,
#svg:focus{
    background-color: rgba(211, 211, 211, 0.301);
}

#apps-drawer {
    width: 25px;
    color: gray;
    fill: currentColor;
}

#userlogo img{
    width: 33px;
    position: relative;
}

#small-logo img {
    width: 70px;
}

header, nav {
    width: 100%;
}

.navigation {
    justify-content: space-between;
    padding: 10px 18px;
}

.div-in-nav {
    width: 100px;
    justify-content: space-evenly;
}


.glinks {
    width: 180px;
    position: absolute;
    top: 50px;
    right: 10px;
    visibility: hidden;
    opacity: 0;
}

.glinks a{
    display: block;
    padding: 5px 10px; 
    background: rgba(0, 0, 0, 0.295);
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.glinks a:hover{
    background-color: black;
    transition: all 0.2s linear;
}

.show {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s linear;
}

/* For main section */
/* For Form Area */
form {
    width: 100%;
    border-top: 1px solid lightgray;
    padding: 25px 0 0 50px;
}

form section {
    border-bottom: 1px solid lightgray;
    width: 100%;
    max-width: 1050px;
    display: grid;
    grid-template-columns: minmax(150px,1fr) 5fr;
    align-items: center;
    grid-row-gap: 15px;
    padding: 25px 0;
}

main.flex-column {
    align-items: flex-start;
    width: 100%;
}

h1 {
    padding: 25px 0;
    color: rgb(217, 48, 37);
    font-size: 20px;
    margin-left: 50px;
}

h3 {
    font-size: 16px;
    color: #333;
}

.third-col-item {
    font-size: 13px;
    font-weight: bold;
    color: #777;
    grid-column: 2/3;
}

/* style for labels */
label,#label {
    font-size: 13px;
    color: #222;
    grid-column: 1 / 2;
}

/* Input box and Select option */
.sec-col {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.sec-col input, 
.sec-col select {
    height: 30px;
    width: 100%;
    border: 1px solid #C0C0C0;
    padding: 2px 7px;
    border-radius: 2px;
}

.sec-col select {
    background-color: #F3F3F3;
}


.sec-col input:focus {
    border: 1px solid #4D90FE;
    outline: none;
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 30%);
}

.sec-col select:focus {
    outline: none;
    border: 1px solid #C0C0C0;
}

.sec-col select:focus-visible {
    outline: none;
    border: 1px solid #4D90FE;
}

/* For span areas */
.sec-col > span {
    margin-left: 15px;
}

span {
    font-size: 11px;
    color: #555;
}

.mono {
    font-family: monospace;
    color: #666;
}

/* Range  */
.range {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.range input {
    width: 45%;
}

/* Main part bottom section */
#links {
    padding: 25px 50px;
}
#links div {
    align-items: flex-start;
    padding-top: 25px;
}

#links a {
    line-height: 1.15rem;
}

.submitbutton {
    max-width: 130px !important;
    border: 1px solid transparent;
    background-color: #377CEA;
    border-radius: 2px;

    color: white;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
    padding: 8px 10px;

    justify-self: end;
}

.submitbutton:hover{
    border: 1px solid #00E;
}

/* footer */
footer {
    background-color: #F2F2F2;
    width: 100%;
}

footer p, footer a{
    font-size: 14px;
    color: #70757A;
}

footer div{
    width: 100%;
}

#firstpart {
    border-bottom: 1px solid #DADCE0;
    padding: 15px 45px;

}

#secondpart{
    justify-content: space-between;
    border: none;
    outline: none;
    padding: 15px 30px;
}

#secondpart a {
    margin: 15px;
}

@media (max-width: 667px){
    #secondpart {
        flex-flow: column wrap;
        justify-content: center;
        align-items: flex-start;
    }

    #secondpart ul {
        padding: 10px 0;
    }

    form {
        margin: 0;
        padding: 0;
    }

    form section {
        grid-template-columns: 150px 1fr;
        padding: 50px;
    }

    .sec-col {
        width: 100%;
        grid-template-columns: 1fr;
    }

    .submitbutton{
        grid-column: 2/3;
    }
}

@media (min-width: 1050px) and (max-width: 1070px){
    .sec-col {
        grid-template-columns: 1fr;
        max-width: 550px;
    }

    .sec-col > span {
        margin: 15px;
    }

    .third-col-item {
        grid-column: 1/2;
    }
}

@media (max-width: 1050px) {
    .hide {
        display: none;
    }
}
