* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body,
header,
nav,
main,
footer,
form {
    display: flex;
}

a {
    color: black;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    font-size: 13px;    
    flex-flow: column;

    height: 100vh;
    width: 100vw;
}

/* Styling for header part */
header{
    justify-content: end;
}

nav {
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

nav a {
    margin: 0 10px;
}

svg {
    width: 25px;
    padding: 7px;
    box-sizing: content-box;
}

svg path {
    color: rgb(70, 70, 70);
    fill: currentColor;
}

svg:hover,
svg:focus {
    background-color: rgba(211, 211, 211, 0.305);
    border-radius: 50%;
}

nav #userlogo {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #000;
}

/* Styling for main part */

main {
    flex-flow: column;
    align-items: center;
    width: 100%;
    max-width: 575px;
    align-self: center;
}

main #google {
    height: 150px;
}

main form {
    width: inherit;
    flex-flow: column;
    align-items: center;
}

main input[type="text"] {
    display: block;
    width: 100%;
    height: 45px;
    padding: 5px 100px 5px 40px;
    border-radius: 25px;
    font-size: 1rem;
    border: 1px solid lightgray;
}

main input[type="text"]:hover, 
main input[type="text"]:focus {
    border: 1px solid lightgray;
    outline: none;
    box-shadow: 1px 1px 5px lightgray;
}

.buttons {
    border: 1px solid transparent;
    margin: 1.5rem 0.3rem;
    background-color: rgba(243, 243, 243, 0.822);
    padding: 10px 20px;
    border-radius: 5px;
}

.buttons:hover,
.buttons:focus {
    border: 1px solid lightgray;
    outline: none;
    box-shadow: 0 1px 1px lightgray;
}

main #diff-lang ul{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

main #diff-lang li {
    padding: 2px 5px;
    font-size: 13px;
}

main #diff-lang a{
    color: blue;
}

main #diff-lang a:hover {
    text-decoration: underline;
}


/* Styling for footer part */
footer{
    flex-flow: column;
    justify-content: center;
    background-color: rgba(211, 211, 211, 0.382);
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
}

footer div,footer ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 20px 0;
}

footer ul {
    padding: 0;
}

footer #firstpart {
    border-bottom: 1px solid lightgray;
}

footer #secondpart {
    justify-content: space-between;
}

footer p,footer a {
    padding: 0 15px;
    font-size: 14px;
    color: gray;
}